/* small device */
@media screen and (max-width: 576px) {
    /* navbar section responsive */
    .nav-items,
    .nav-btn{
        display:none;
    }

    .hamburger-menu {
        display: block;
    }

    /* banner section responsive */

     .banner {
        padding: 50px 15px;
    }
    .banner-title {
        font-size: 40px;
        
    }
   
    .mic {

        right: 200px;
        top:100px;
        
    }

    .new-tag {
        top: 10px;
        right: 200px;
    }

    

    /* about section responsive */
    .about-title{
        font-size: 28px;
        white-space:normal;
    }
        .about-desc {
        font-size: 14px;
        line-height: 1.6;
        max-width: 320px;   
        margin: 0 auto 20px auto;
        text-align: center;
    }

    .number-card{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 40px 0;
        justify-content: center;

    }


}