/* small device */
@media screen and (max-width: 576px) {
    /* navbar section responsive */
    .nav-items,
    .nav-btn{
        display:none;
    }

    .hamburger-menu {
        display: block;
    }

    /* banner section responsive */

     .banner {
        padding: 50px 15px;
    }
    .banner-title {
        font-size: 40px;
        
    }
   
    .mic {
        right: 210px;
        top:100px;
        
    }

    .new-tag {
        top: 10px;
        right: 200px;
    }
}