/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(26, 11, 46, 1);
}

:root {
    --linear-gradient: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);

    --primary-color: #00FF88;
}

/* shear style */
.btn {
    background: var(--linear-gradient);
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.display-hidden {
    display: none;
}



/* navbar section style */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-items li {
    font-weight: 500;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 500;
}

.nav-items li:hover {
    color: #FB09B4;
}

.fa-arrow-right {
    color: white;
    padding-left: 6px;
    background: transparent;
}


/* banner section style */
.banner {
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;

}

.image-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    position: relative;
}

.mic {
    position: absolute;
    animation: microPhone 3s ease-in-out infinite
}

.badge {
    position: absolute;
    right: 15%;
    top: 5%;
    background-color: #3AEABC;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    box-shadow: 0 0 8px #3AEABC;
    animation: newTag 2.5s ease-in-out infinite;
}

.banner-body {
    text-align: center;
}

.banner-title {
    font-size: 60px;
    color: white;
    font-weight: 800;
    padding: 40px 0 8px;
}

.banner-desc {
    padding-bottom: 24px;
    color: rgb(148, 147, 147);
}

.spotif-btn,
.subscribe-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
}

.spotif-btn:hover,
.subscribe-btn:hover {
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
}

/* about section style */
.about {
    text-align: center;
    margin: 125px;
}

.about-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;

}

.about-desc {
    color: rgb(148, 147, 147);
}

.number-card {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
    border-top: 1px solid rgb(43, 13, 85);
    padding: 80px 0px;
}

.card-title {
    color: var(--primary-color);
    font-size: 40px;
    padding-bottom: 16px;
}

.card-subtitle {
    color: rgb(148, 147, 147);
}

/* techwave section style */
.techwave {
    background: rgba(35, 14, 61, 1);
    text-align: center;
    padding: 120px 200px;
}

.tech-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

}

.tech-card {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
}

.headphone-card{
    grid-row: span 2;
}

.device-card{
    grid-column: span 2;
}

.location-card{
    grid-column: span 2;
}

.zap-card{
  grid-column: span 2;
}

.resource-card{
 grid-row: span 1;
}

.tech-card-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;

}

.tech-card-desc {
    color: rgb(148, 147, 147);
    font-size: 16px;
    text-align: left;

}

/* featured episode section design */
.feature{
     margin: 125px;
     text-align: center;
}

.feature-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}

.youtube-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.uTube-card{
    width: 380px;
    height: 450px;
    border-radius: 24px;
    background: rgba(37, 13, 68, 1);
}

iframe{
    border-radius: 24px 24px 0px 0px;
}

.card-body{
    padding: 24px;
}
.utube-title{
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.utube-desc{
    color: rgb(148, 147, 147);
    text-align: left;
    padding: 12px 0;
}


.duration{
    color: var(--primary-color);
    text-align: left;
}

.fa-clock{
    padding-right: 8px;
}







/*=============================================
                Animation Code
=============================================== */

/* new tag animation */
@keyframes newTag {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* microphone animation */
@keyframes microPhone {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}