/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: rgba(26, 11, 46, 1);
}

:root{
    --linear-gradient: linear-gradient(45deg,rgba(247, 233, 63, 1) 0%,rgba(251, 9, 180, 1) 50%,rgba(145, 0, 248, 1) 100%);

    --primary-color: #00FF88;
}

/* shear style */
.btn{
    background: var(--linear-gradient);
    border: none;
    padding: 12px 16px;
    border-radius:30px ;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.display-hidden{
    display: none;
}

/* navbar section style */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-items li {
    font-weight: 500;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 500;
}

.nav-items li:hover {
    color: #FB09B4;
}

.fa-arrow-right{
    color: white;
    padding-left: 6px;
    background: transparent;
}
